.head-dataTable{
	background-color: #f2f2f2;
}
#de-tai{
	border-bottom: 3px solid green;
	color:green;
}
.search-info{
	margin-top: 10px;
	margin-bottom: 0
}
#myTable{
	margin-top:15px; 
}
select{
	max-width: 165px
}
#myTable td{
	border: 0.2px solid #f2f2f2;
	word-wrap: break-word;
}
#myTable th{
	border: 0.2px solid #f2f2f2;
}
.ten_de_tai{
	color: #3b5998;
	font-weight: bold;
}
.div-content{
	margin-bottom: 15px;
	margin-top:30px 
}
.no{
	width: 5%;
}
.name{
	width: 25%;
}
.linh_vuc{
	width: 20%;
}
.ma_so{
	width: 15%;
}
.tac_gia{
	width: 20%;
}
.thoi_gian{
	width: 15%;
}