.head-dataTable{
	background-color: #f2f2f2;
}
.search-info{
	margin-top: 10px;
	margin-bottom: 0
}
#san-pham{
	border-bottom: 3px solid green;
	color:green;
}
select{
	max-width: 165px
}
#myTable{
	border: 0.2px solid #f2f2f2;
	margin-top:15px; 
}
#myTable td{
	border: 0.2px solid #f2f2f2;
	word-wrap: break-word;
}
#myTable th{
	border: 0.2px solid #f2f2f2;
}
.ten_san_pham{
	color: #3b5998;
	font-weight: bold;
}
.div-content{
	margin-bottom: 15px;
	margin-top:30px 
}
.anh_san_pham{
	max-height: 65px;
	max-width: auto;
}
..no{
	width: 5%;
}
.anh{
	width: 10%;
}
.name{
	width: 20%;
}
.ung_dung{
	width: 35%;
}
.linh_vuc{
	width: 20%;
}
.cap_nhat{
	width: 10%;
}